:host {
  .transactions-form {
    display: flex;

    &__stepper {
      width: 100%;
    }

    &__form-fields {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;
      width: 65%;
    }

    &__checkout {
      p {
        font-size: 18px;
      }
    }
  }
}
