@import 'variables';

.aside-menu {
  background-color: $primary-color;
  color: $white;
  padding: 24px 0;
  height: calc(100vh - 112px);
  width: 200px;

  h2 {
    font-size: 18px;
    padding: 0 24px;
  }

  &__options {
    list-style: none;
    padding: 0;

    li {
      font-size: 20px;
      cursor: pointer;
      padding: 16px 24px;
      transition: 0.2s ease-in-out;
      display: grid;
      grid-template-columns: 40px 1fr;

      &:hover {
        background-color: $primary-color-dark;
        transition: 0.2s ease-in-out;
      }
    }
  }
}

@media screen and (max-width: 512px) {
  .aside-menu {
    height: auto;
    width: auto;
  }
}
