@import 'variables';

:host {
  .login {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;

    &__card-content {
      display: flex;
      flex-direction: column;
    }

    &__card-actions {
      padding: 0 8px;
    }
  }

  mat-card {
    width: 500px;
    padding-bottom: 24px;

    @media screen and (max-width: 512px) {
      width: auto;
    }
  }
}
